 .u-section-1 {
  background-image: url("images/casback.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-group-1 {
  width: 400px;
  min-height: 700px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-shape-1 {
  width: 58px;
  height: 58px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-group-1 {
    width: 330px;
    min-height: 685px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 29.42% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    min-height: 634px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-group-1 {
    width: 233px;
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 2146px;
}

.u-section-2 .u-group-1 {
  width: 1081px;
  min-height: 2050px;
  margin: 65px auto 32px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  text-transform: none;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 155px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    line-height: 36px;
    font-weight: normal;
    margin-right: 14px;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 814px;
}

.u-section-3 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 881px;
  min-height: 591px;
  margin: 20px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  height: 460px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  height: 460px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  height: 460px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-image-4 {
  height: 460px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-3 .u-image-5 {
  height: 460px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 665px;
}

.u-section-4 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 565px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 50px 12px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 48px 242px 0 18px;
}

.u-section-4 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-4 {
  text-align: left;
  margin: 16px 18px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 24px 228px 0 18px;
}

.u-section-4 .u-text-6 {
  margin: 18px 18px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 190px 0 18px;
}

.u-section-4 .u-text-8 {
  margin: 20px 18px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-4 .u-container-layout-2 {
  padding: 42px 18px;
}

.u-section-4 .u-image-1 {
  width: 327px;
  height: 272px;
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 167px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 36px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 325px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 266px;
  }
}